.leftSide
  .leftSide
    %h1.heading News
  .leftSide
    .suggestChanges
      = link_to "Edit", edit_project_by_action_type_path(@project, "news")
.rightSide
  .nextPage
    = link_to "next", display_project_by_action_type_path(@project, "objective")
  .previousPage
    = link_to "next", display_project_by_action_type_path(@project, "link")
.clr
.borderBottom
%p.marTop15
  - @project.news.each do |n|
    %p
      =raw n.content
