.leftSide
  .leftSide
    %h1.heading Objectives
  .leftSide
    .suggestChanges
      %a{:href => "#"} Suggest Changes
.rightSide
  .nextPage
    = link_to "next", display_project_path(@project, {:view => "key_stakeholders"})
  .previousPage
    = link_to "next", display_project_path(@project, {:view => "summary"})
.clr
.borderBottom
%p.marTop15 Here you can try and develop your project objectives. It can help to think of your expectations for a completed project, what will the project deliver? What criteria can you think of that would make the project a success?
%ul.objectivesNavigation.black
  - @project.project_objectives.each do |obj|
    %li.main
      = link_to obj.name, "#"
      %ul.objectivesSub
        - obj.sub_objectives.each do |subobj|
          %li
            = link_to subobj.name, "#"
