.leftSide
  .leftSide
    %h1.heading Summary
  .leftSide
    .suggestChanges
      = link_to "Edit", edit_project_by_action_type_path(@project, "summary")
.rightSide
  .nextPage
    = link_to "next", display_project_by_action_type_path(@project, "objective")
  .previousPage
    = link_to "next", display_project_by_action_type_path(@project, "links")
.clr
.borderBottom
%p.marTop15
  = @project.description
