.leftSide
  .leftSide
    %h1.heading Summary
  .leftSide
    .suggestChanges
      %a{:href => "#"} Suggest Changes
.rightSide
  .nextPage
    %a{:href => "#"}
  .previousPage
    %a{:href => "#"}
.clr
.borderBottom
%p.marTop15
  = @project.description
