/* 
	Resets defualt browser settings
	reset.css
/*
	Page style
*/
/*body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#FFF;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}*/
#slides {
	width:260px;
	height:270px;
	background:url(../images/redioSliderBg.jpg) left bottom repeat-x;
	float:left;
}
#slider_project {
	width:260px;
	height:270px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}


/*
	Slideshow
*/


/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:260px;
	height:245px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:570px;
	height:270px;
	display:block;
}

.slide a {
	display:block;
	height:193px;
	width:258px;
	border:1px solid #dddddd;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	left:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#00aa00;
	display:block;
	z-index:101;
}
#slides #slides:hover {
	color:#000 !important;
}
#slides .next {
	 left:235px;
}

/*
	Pagination
*/

.pagination {
	margin:5px auto 0;
	width:60px;
	height:30px;
}

.pagination li {
	float:left;
	height:5px;
	list-style:none;
	margin-right:5px;
}

.pagination li a {
	display:block;
	width:10px;
	height:10px;
	background-image:url(images/pagination.png);
	background-position:0 -15px;
	text-indent:-5000px;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 0;
}

/*
	Caption
*/

.caption {
	display:block;
	bottom:0;
	left:0;
	height:45px;
	background:#fff;
	line-height:45px;
	width:260px;
	color:#000;
	font-size:12px;
	text-shadow:none;
}
.caption p {
	font-size:12px;
	font-weight:bold;
	color:#000 !important;
	line-height:45px !important;
	padding:0;
}
/*
