<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_objective.name %>
</p>


<%= link_to 'Edit', edit_project_objective_path(@project_objective) %> |
<%= link_to 'Back', project_objectives_path %>
