.inputWrapper
  = form_tag(project_search_path) do
    = text_field_tag 'location', 'Search', :class => 'field', :id => 'search_location'
    = submit_tag nil, :class => 'searchBtn'
= javascript_include_tag 'search'
