%li{:class => no_margin}
  .heading
    Renovation of xxxxxx Temple, Deccan
  .imageWrapper
    %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
  .voteViewMurge
    .viewWrapper
      99999 View
    .voteWrapper
      99999 View
    .clr
  .clr
  .textWrapper
    .heading
      Location
    .clr
    15 Josh street, Deccan
  .textWrapper
    .heading
      Summary
    .clr
    The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
    %a{:href => "#"} more