%li{:class => margin_class}
  .heading
    = link_to project.title.truncate(50), show_project_path(project.city.parameterize, project.slug)
  .imageWrapper
    %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
  .voteViewMurge
    .viewWrapper
      = project.view_count || 0
      View 
    .clr
  .clr
  .textWrapper
    .heading
      Address
    .clr
    = project.address
  .textWrapper
    .heading
      Summary
    .clr
    = project.description.truncate(160).gsub(/<.*>/, "")
    %a{:href => show_project_path(project.city, project.slug)} more
