.homeWrapper
  .mapWrapper
    %img{:alt => "", :height => "288", :src => "images/homePageMap.jpg", :width => "977"}/
    .searchWrapper
      %input.field{:type => "text", :value => "Search"}/
      %input.searchBtn{:type => "submit"}/
      .clr
  .title
    .text
      Improving local communities one project at a time
    .btn
      %a.sign_up{:href => "#"} Create Project