.homeWrapper
  .mapWrapper
    #map_home_canvas
      :javascript
        jQuery(document).ready(function() {
          var myOptions = {
            zoom: 12,
            #{'center: new google.maps.LatLng(' + "18.31" + ', ' + "73.55" + '),'}
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(document.getElementById("map_home_canvas"), myOptions);
          var marker = new google.maps.Marker({
            #{'position: new google.maps.LatLng(' + "18.31" + ', ' + "73.55" + '),'}
            map: map,
            #{'title: "' + CGI.escapeHTML("adasdd d asd ad") + '"'}
          });
        });
    = render 'shared/search'
    .clr
  .title
    .text
      Improving local communities one project at a time
    .btn
      %a.sign_up{:href => "#"} Create Project