= render :partial => "map_global_projects"
.fatureProjectsWrapper
  %h2 Featured Projects
  .clr
  %ul
    - @featured_pojects.each_with_index do |project,index|
      = render "home_project_item" , :margin_class => (index == 2 ? 'marNone' : ''), :project => project
  .clr
  %h2 Local Projects
  %ul
    - @projects.each do |project|
      = render "home_project_item" ,:margin_class => "", :project => project
.clr
/ content end
