= render :partial => "map_global_projects"
.fatureProjectsWrapper
  %h2 Featured Projects
  .clr
  %ul
    - @featured_projects.each do |project|
      = render "home_project_item" , :project => project, :margin_class => (project == @featured_projects.last) ? "marNone" : ""
  .clr
  %h2 Local Projects
  %ul
    - @local_projects.each do |project|
      = render "home_project_item" , :project => project, :margin_class => (project == @local_projects.last) ? "marNone" : ""
.clr
/ content end