= render :partial => "map_global_projects"
.fatureProjectsWrapper
  %h2 Featured Projects
  .clr
  %ul
    - @featured_projects.each_with_index do |project, index|
      = render "home_project_item" , :project => project, :margin_class => (index == 2) ? "marNone" : ""
  .clr
  %h2 Local Projects
  %ul
    - @local_projects.each_with_index do |project, index|
      = render "home_project_item" , :project => project, :margin_class => (index == 2) ? "marNone" : ""
.clr
/ content end
