= render :partial => "map_global_projects"
.fatureProjectsWrapper
  %h2 Featured Projects
  .clr
  %ul
    - @featured_projects.each do |project|
      = render "home_project_item" , :margin_class => "", :project => project
  .clr
  %h2 Local Projects
  %ul
    - @local_projects.each do |project|
      = render "home_project_item" , :margin_class => "", :project => project
.clr
/ content end