.createprojectWrappwe
  .leftSide
    %img{:height => "60", :src => "/images/notepadIcon.png", :width => "59"}/
  .createprojectRight
    %h1 Create Project
    Have an idea for your
    community? Create a project
    it's simple and quick
    = link_to "Create Project", new_project_path, :class => "sign_up"
.borderBottom
.tabWrapper.marTop20
  .borderBottom

