/div right start
%h1.heading Add/Edit Contents
.borderBottom
%h1.marTop20 Contents
%ul.leftNavigation
  %li.main
    %a.head{:href => "#"} Project Outline
    %ul.leftSub
      %li
        %a.okArow{:href => "#"} Summary
      %li
        %a.eidtArow{:href => "#"} Objectives
      %li
        = link_to "Stakeholders", edit_project_by_action_type_path(@project, "stakeholder") 
  %li
    %a{:href => "#"} Funding
  %li
    %a{:href => "#"} Similar Projects
  %li
    %a{:href => "#"} Links
  %li
    %a{:href => "#"} Comments
.addContent
  %a{:href => "#"} Add new content page
.borderBottom
/ div right end

