.inputWrapper
  %input.field{:type => "text", :value => "Search"}/
  %input.searchBtn{:type => "submit"}/
#map
  %h3 Project Location
  #map_canvas.project_map
    :javascript
      jQuery(document).ready(function() {
        var myOptions = {
          zoom: 12,
          #{'center: new google.maps.LatLng(' + @project.coordinates[0].to_s + ', ' + @project.coordinates[1].to_s + '),'}
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
          #{'position: new google.maps.LatLng(' + @project.coordinates[0].to_s + ', ' + @project.coordinates[1].to_s + '),'}
          map: map,
          #{'title: "' + CGI.escapeHTML(@project.title) + '"'}
        });
      });
  -#%p= @project.address
