.textWrapper
  .heading
    %h1 News
    %a{:href => "#"} Add new
    = edit_link(@project, "news")
    .clr
  %p
    = "Project new here"
    %a{:href => "#"} more
  %p
    %span> Kohsi
    , 3 hrs ago
  %p
    One more news here
    %a{:href => "#"} more
  %p
    %span Fuscemassa
    , 9 Jun 2011
