.textWrapper
  .heading
    %h1 Project Objectives
    %a{:href => "#"} Add new
    =link_to "Edit", "#", :class => "edit", :rel => "project_objectives"
    .clr
  %ul.funding
    - @project.project_objectives.each do |obj|
      %li
        =obj["name"]

  .clr