#project_type.borderBottom
  %h3 Project Type
  %ul
    - APP_CONFIG[:categories].each do |type|
      %li
        %input.checkBox{:type => "checkbox", :checked => (@project.categories.nil? ? "false" : (@project.categories.include? type)), :disabled => "true"}/
        %label.label
          = type
    .clr