#project_type.borderBottom
  %h3 Project Type
  %ul
    - APP_CONFIG[:categories].each do |type|
      - unless @project.categories.nil?
        - checked = @project.categories.include? type
      %li
        - if checked
          %input.checkBox{:type => "checkbox", :disabled => "true", :checked => true}/
        - else
          %input.checkBox{:type => "checkbox", :disabled => "true"}/
        %label.label
          = type
    .clr