.textWrapper
  .heading
    %h1 Project Objectives
    = edit_link(@project, "objectives")
    .clr
  %ul.objectives
    - if @project.project_objectives.nil? || @project.project_objectives.empty?
      %li
        %p
    - else
      - @project.project_objectives.each do |objective|
        %li
          = objective.name 
    .clr
