.borderBottom
  .heading
    %h1 Funding
    %a{:href => "#"} Add new
    = edit_link("fundings")
    .clr
  %ul.funding
    - @project.project_fundings.each do |fund|
      %li
        %p
          = fund["name"]
        %span
          = fund["amount"]
    .clr