- if @project.activities.present?
  %h3
    Activity Feed
    #tab1.tab_content
      .textWrapper
        -@project.activities.each do |activity|
          %p= activity.text
          %p
            %span>= activity.user['slug']
            ,
            = time_ago_in_words(activity.created_at)
            ago
