.borderBottom
  .heading
    %h1 Stakeholders
    = edit_link(@project, "stakeholders")
    .clr
  %ul.stakeholders
    - if @project.stakeholders.nil? || @project.stakeholders.empty?
      %li
        %p
          There are no stakeholders for this project yet. Click
          = edit_link(@project, "stakeholders")
          to add some
    - else
      - @project.stakeholders.each do |stakeholder|
        %li
          %p
            = link_to stakeholder.name, stakeholder.url
    .clr