#project_status.borderBottom
  %h3 Phase / Status
  %ul
    - APP_CONFIG[:statuses].each do |status|
      %li
        %input.checkBox{:type => "checkbox", :checked => (@project.status)==status, :disabled => "true"}/
        %label.label
          = status
    .clr