.textWrapper
  .heading
    %h1 Project Objectives
    = edit_link(@project, "objective")
    .clr
  %ul.objectives
    - if @project.project_objectives.nil? || @project.project_objectives.empty?
      %li
        %p
    - else
      %ul.objectivesNavigation.black
        - @project.project_objectives.each do |obj|
          %li.main
            = link_to obj.name, "#"
            %ul.objectivesSub
              - (obj.sub_project_objectives||[]).each do |subobj|
                %li
                  = link_to subobj, "#"

    .clr
