#project_tags.borderBottom
  %h3 Tags
  .tabWrapper
    %ul.tabs
      - # this is just temporary, and should be made @project.tags instead of .keywords once the tag model is implemented
      - @project.keywords.each do |keyword|
        %li
          = link_to keyword, "#" + keyword
      .clr