%h3
  Activity Feed
  #tab1.tab_content
    .textWrapper
      %p Content Added - Tags, Similar Projects
      %p
        %span> Josh X
        , 30 min ago
      %p Content Added - Phase / Status
      %p
        %span> Josh X
        , 2 hrs ago
      %p Content Added - Project Type
      %p
        %span> Josh X
        , 4 hrs ago
      %p Content Added - Project Objectives
      %p
        %span> Josh X
        , 5 hrs ago
      %p Fields Added - Project Objectives,Contents
      %p
        %span> Josh X
        , 5 hrs ago