#project_similar_projects.borderBottom
  %a{:name => "similar_projects"}
  %h3 Similar Projects
  - similar_projects = @project.similar_projects
  - if similar_projects.nil? || similar_projects.empty?
    There are no similar projects
  - else
    - similar_projects.each do |project|
      = succeed "#{(project == similar_projects.last) ? '' : ','}" do
        = link_to project.title, show_project_path(project.city.parameterize, project.slug)