#similar_projects.borderBottom
  %h3 Similar Projects
  STYLE ME!!!
  %p
    - similar_projects = [@project, @project, @project, @project] #this is just for testing purposes. The below code is the real one
    - #similar_projects = @project.similar_projects
    - if similar_projects.nil? || similar_projects.empty?
      There are no similar projects.
    - else
      - similar_projects.each do |project|
        = link_to project.title, "#"