#project_similar_projects.borderBottom
  %h3 Similar Projects
  = succeed "," do
    %a{:href => "#"} Jain Temple Reconstruction
  %a{:href => "#"} Baner Road Pune
  = succeed "," do
    %a{:href => "#"} Temple Complex Restoration
  = succeed "," do
    %a{:href => "#"} Pune Centre
  %a{:href => "#"} Restoration and Preservation of Hindu Temples in Pune