#slides
  #slider_project
    / slider start
    #slides
      .slides_container{:style => "overflow: hidden; position: relative; display: block;"}
        .slides_control{:style => "position: relative; width: 1710px; height: 270px; left: -570px;"}
          - @project.prints.each do |print|
            .slide{:style => "position: absolute; top: 0px; left: 570px; z-index: 0; display: none;"}
              = link_to image_tag(print.attachment.url(:slider), :height => "193", :width => "258"), edit_project_path(@project.city, @project.slug)
              .caption{:style => "bottom: 0px;"}
                %p Photo caption
          .clr{:style => "position: absolute; top: 0px; left: 570px; z-index: 0; display: none;"}
      %a.prev{:href => "#"} Previous
      %a.next{:href => "#"} Next
      .clr
    .clr
    / slider start end
  %ul.pagination
    %li
      %a{:href => "#0"} 1
    %li
      %a{:href => "#1"} 2
    %li
      %a{:href => "#2"} 3
    %li.current
      %a{:href => "#3"} 4
    %li
      %a{:href => "#4"} 5
