#content
  / div right start
  .right
    = render "left_bar"

  .left
    = render :partial => "projects/display/#{@selection}"
  / div left End
  .clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
-#:javascript
-#  -#var editor = new punymce.Editor({id : 'helo'});

