#content
  .right
    = render "left_bar"
    %b
      = link_to 'Back to project details', show_project_path(@project.city, @project.slug)
  / div right end
  / div left start
  .left
    = render "edit_#{@selection}"   
  / div left End
  .clr
/ content end
.clr
/ footer Start
#footer
/ footer end
.clr
-#:javascript
-#  var editor = new punymce.Editor({id : 'helo'});

