.mainHeading
  Renovation of xxxxxx Temple, Deccan
.clr
.murgeWrapper
  .wrapperLeft
    .imageWrapper
      %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
  .wrapperRight
    .marBot10
      .voteViewMurge
        .viewWrapper
          99999 View
        .voteWrapper
          99999 View
        .clr
      .clr
    .textWrapper
      .heading
        %h1 Location
        .clr
      %p
        15 Josh street, Deccan
    .textWrapper
      .heading
        %h1 Summary
        %a{:href => "#"} Edit
        .clr
      %p
        The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned.
  .clr
.clr

- content_for :sidebar do
  .inputWrapper
    %input.field{:type => "text", :value => "Search"}/
    %input.searchBtn{:type => "submit"}/
  #map.project_map
  = render :partial => 'projects/project_type'
  = render :partial => 'projects/project_status'
