/ footer Start
#footer
  %ul
    %li
      = link_to "Home", home_index_path
    %li
      = link_to "Disclaimer", home_disclaimer_path
    %li
      = link_to "Terms and Conditions", home_terms_and_conditions_path
    %li
      %a{:href => "http://www.blogs.kipwiki.com/"} Blog
    
  .copyRight kipwiki &copy; 2011
/ footer end
