/ footer Start
#footer
  %ul
    %li.selected
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Projects
    %li
      %a{:href => "#"} Notifications
    %li
      %a{:href => "#"} Create Projects
    %li.borderNone
      %a{:href => "#"} About
  .copyRight kipwiki &copy; 2011
/ footer end