/ footer Start
#footer
  %ul
    %li.selected
      = link_to "Home", home_index_path
    %li
      %a{:href => "#"} Disclaimer 
    %li
      %a{:href => "#"} Terms and Conditions
    %li
      %a{:href => "#"} Blog
  .copyRight kipwiki &copy; 2011
/ footer end
