!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico", :type => "image/x-icon"}/

    %title KipWiki
  = stylesheet_link_tag "colorbox", "slider", "projects" , "global", "project_edit", "editor"
  = javascript_include_tag "jquery", "colorbox", "easySlider1.7", "application", "punymce/puny_mce"
  %body
    #wrapper
      / header start
      = render :partial => "layouts/header"
      / Header End here
      .clr
      / content start
      = yield 
