!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    - # This can be further customized here: http://developers.facebook.com/docs/reference/plugins/like/ -Anthony
    %meta{:content => "KipWiki - Knowledge is Power", :property => "og:title"}/
    %meta{:content => "non_profit", :property => "og:type"}/
    %meta{:content => "KipWiki", :property => "og:site_name"}/
    %title
      = yield(:title) || "Project Title"
    = stylesheet_link_tag "colorbox", "slider", "projects","editor","global"
    = javascript_include_tag "jquery", "colorbox", "easySlider1.7", "application","jquery-ui-1.8.6.custom.min.js","slides.min.jquery.js"
    :javascript
      $(document).ready(function() {
      	//When page loads...
      	$(".tab_content").hide(); //Hide all content
      	$(".leftTabContent").hide();
      	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
      	$(".tab_content:first").show(); //Show first tab content
      	$(".leftTabContent:first").show();
  
      	//On Click Event
      	$("ul.tabs li").click(function() {
  
      		$("ul.tabs li").removeClass("active"); //Remove any "active" class
      		$(this).addClass("active"); //Add "active" class to selected tab
      		$(".tab_content").hide(); //Hide all tab content
      		$(".leftTabContent").hide();
  
      		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
      		var leftActiveTab = $(this).find("a").attr("title");
      		$(activeTab).fadeIn(); //Fade in the active ID content
      		$(leftActiveTab).fadeIn();
      		return false;
      	});
  
      });
  
    
      $(function(){
      			$('#slides').slides({
      				preload: true,
      				play: 5000,
      				pause: 2500,
      				hoverPause: true,
      				animationStart: function(current){
      					$('.caption').animate({
      						bottom:0
      					},100);
      					if (window.console && console.log) {
      						// example return of current slide number
      						console.log('animationStart on slide: ', current);
      					};
      				},
      				animationComplete: function(current){
      					$('.caption').animate({
  						
      					},200);
      					if (window.console && console.log) {
      						// example return of current slide number
      						console.log('animationComplete on slide: ', current);
      					};
      				},
      				slidesLoaded: function() {
      					$('.caption').animate({
      						bottom:0
      					},200);
      				}
      			});
      		});
  
  
  
  %body
    #wrapper
      / header start
      #header
        .headerContent
          .logo
            %a{:href => "#"} kipWiki
          .navigation
            %ul.main
              %li.selected
                %a{:href => "#"} Projects
              %li
                %a{:href => "#"} Notifications
              %li
                %a{:href => "#"} Create Project
            %a.sign_up{:href => "#"} Signup
            %ul.subMenu
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Profile
              %li
                %a{:href => "#"} Help & Feedback
              %li
                %a{:href => "#"} Login
            .clr
        .clr
      / Header End here
      .clr
      #projectWorkingWrapper
        %ul
          %li
            .holder
              .heading.create
                Create Project
              Have an idea for your
              community? Create a project
              %br/
              it's simple and quick
          %li
            .holder.shareIcon
              .heading
                Share Project
              Share your projects with your
              network, your community and
              %br/
              the rest of the world
          %li.last
            .holder.developeIcon
              .heading
                Develop Project
              Turning ideas into action
      / content start
      #content
        .homeWrapper
          .mapWrapper
            %img{:alt => "", :height => "288", :src => "images/homePageMap.jpg", :width => "977"}/
            .searchWrapper
              %input.field{:type => "text", :value => "Search"}/
              %input.searchBtn{:type => "submit"}/
              .clr
          .title
            .text
              Improving local communities one project at a time
            .btn
              %a.sign_up{:href => "#"} Create Project
        .fatureProjectsWrapper
          %h2 Featured Projects
          .clr
          %ul
            %li
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
            %li
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
            %li.marNone
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
          .clr
          %h2 Local Projects
          %ul
            %li
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
            %li
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
            %li.marNone
              .heading
                Renovation of xxxxxx Temple, Deccan
              .imageWrapper
                %img{:alt => "", :height => "193", :src => "images/testPhoto.jpg", :width => "258"}/
              .voteViewMurge
                .viewWrapper
                  99999 View
                .voteWrapper
                  99999 View
                .clr
              .clr
              .textWrapper
                .heading
                  Location
                .clr
                15 Josh street, Deccan
              .textWrapper
                .heading
                  Summary
                .clr
                The xxx temple in Deccan is in serious need of repair. The building has been left unmaintained for over 15 years and if serious action is not taken soon the building will have to be condemned....
                %a{:href => "#"} more
        .clr
      / content end
      .clr
      / footer Start
      #footer
        %ul
          %li.selected
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Projects
          %li
            %a{:href => "#"} Notifications
          %li
            %a{:href => "#"} Create Projects
          %li.borderNone
            %a{:href => "#"} About
        .copyRight kipwiki &copy; 2011
      / footer end
      .clr
